.Home {
  width: 100%;
  padding: 1em;
  border: 1px solid red;
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: .75em;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
  padding: .5em 0;
}

.box:hover {
  background: rgb(245, 244, 244);
}

.button {
  width: 10em;
  height: 2em;
}

.button:last-child {
  background: rgb(255, 45, 45) !important;
}